# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
src/.vs/
src/packages/
src/smb2tcp-client/x64/
src/smb2tcp-common/x64/
src/smb2tcp-server/x64/
src/smb2tcp-tunnel/x64/
src/x64/
